
body {
	font-family: 'Open Sans';
	font-weight: 300;
}
.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: #fafafa;
}

.streamerId {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.09);
}

.streamersStatus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

button {
    padding: 1em 1.5em;
    background: transparent;
    border: 1px solid;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    margin: 2em 0;
}

button:hover {
    background: pink;
    border-color: pink;
}

input {
    padding: 1em;
    font-size: 1.25em;
}

h1 {
    font-weight: 900;
}

.logs {
    width: 80%;
    margin: 0 auto;
    background: white;
    height: calc(100% - 320px);
    display: flex;
    justify-content: center;
}

.wrapper > div > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
}

.input {
    width: 50%;
    height: 90%;
}

.output {
    width: 50%;
    height: 90%;
}

.logs > div {
    overflow-y: auto;
    text-align: center;
}

.logs > div > *:nth-child(even) {
    background: rgba(163, 225, 255, 0.16);
}

.logs > div > * {
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

pre {
    font-size: .7em;
}